body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    background-image: url('./images/kungfupandabackground.jpg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    font-family: 'Roboto', sans-serif;
    color:white;
}

.main {
    align-self: center;
    text-align: center;
    width: 600px;
    background-color: rgba(255, 255, 255, 0.7);
}

.green-background {
    height: 250px;
    width: 100%;
    margin-top: 50px;
    background-color:rgba(72, 116, 63, 0.7);  
}

h1,h2 { 
    font-family: papyrus;
}

h1 {
    color:black;
}

h2 {
    padding-top: 25px
}

a {
    width: 100px;
    border: solid white 2px;
    padding: 5px;
    color: #fff;
    text-decoration: none;
}

.search {
    padding: 20px;
}